---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
---

<Layout title="Astro Starter">
  <Container>
    <h1>a simple Astro Starter Kit</h1>
    <SampleComponent text="This is a sample component!" />
  </Container>
</Layout>
